[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
*.csproj
*.sln
*.userprefs
.DS_Store
*.keystore
*.jks
google-services.json
GoogleService-Info.plist
FirebaseApp.*
*.p12
*.mobileprovision
